.nav-1 {
  overflow: hidden;
  height: 100%;
  background-color:#F2F2F7;
}

.nav-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom:1px #a2a1a1 solid;
}

.nav-1 li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

.nav-1 a {
  text-decoration: none;    
  color: black;
  padding: 24px 32px;
  font-weight: 400;
 
}

.nav-1 a:hover {
  background-color: rgba(229, 229, 228, 0.742);
  color: #62B9B6;
}
