
.admin_page{
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
}

td, th {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

button {
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.users-list {
  margin-bottom: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.user-table {
  border-collapse: collapse;
  width: 100%;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-table th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
}

.user-table td {
  text-align: center;
}
.btn-new-user{
  background-color: #2fc797;
  color: #fff;
  font-weight:600;
  width: 100%;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-new-user:hover {
  background-color: #62B9B6;
}

.btn-delete {
  background-color: #e22f2f;
  color: #fff;
  font-weight:600;
  width: 80%;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #c53636;
}

.btn-update {
  background-color: #0cd1ca;
  color: #fff;
  font-weight:600;
  width: 103%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-update:hover {
  background-color: #62B9B6;
}

.buttons_user{
  display: flex;
  flex-direction: column;
  
}

.modal-body label {
  display: inline-block;
  margin-bottom: 5px;
}

.modal-body input {
  width: 100%;
  margin-bottom: 10px;
}

.modal-footer button {
  margin: 0;
} 

.e {
  display: flex; 
  align-items: center; 
  width: 100%; 
  flex-direction: column;
} 

.a {
  width: 700px; 
  height: auto; 
  border: 1px solid black; 
  margin: 10px; 
  display: flex; 
  padding: 10px; 
  font-family: 'Courier New', Courier, monospace;
} 

.a h3 {
  margin: 20px;
}

img {
  width: 150px; 
  height: 150px; 
  margin-left: 20px;
}

.User-count {
  display: flex;
  align-items: center;
  margin-top: 8%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.count-box {
  background-color: #807edbc2;
  padding: 20px;
  border: 1px solid rgba(164, 95, 255, 0.596);
  border-radius: 5px;
  margin-right: 20px;
}

.loading-box {
  background-color: lightgray;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.user-count-text {
  font-size: 18px;
  color: #fdfcfc;
  margin: 0;
}

.loading-text {
  font-size: 16px;
  color: gray;
  margin: 0;
}



